<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Restopedia | Restaurant Catalog</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Yellowtail&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <a href="#maincontent" tabindex="1" class="skip-link">Menuju ke konten</a>
    <header class="header">
      <div class="header__inner">
        <h1 class="header__title">Restopedia</h1>
      </div>
      <a id="menu" tabindex="2" class="header__menu">☰</a>
    </header>
    <nav id="drawer" class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="http://localhost:8080">Home</a></li>
        <li class="nav__item"><a href="#">Favourite</a></li>
        <li class="nav__item">
          <a href="https://github.com/nadahasnim" target="_blank">About Us</a>
        </li>
      </ul>
    </nav>
    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">
          Kumpulan Restoran Terbaik Di Seluruh Indonesia
        </h1>
        <p class="hero__tagline">
          Temukan 1000+ rekomendasi restoran terbaik di seluruh penjuru
          indonesia
        </p>
      </div>
    </div>
    <main id="maincontent">
      <section class="content">
        <div class="latest">
          <h1 class="latest__label">Explore Restaurant</h1>
          <div class="posts" id="posts">
            <!--content will be rendered here  -->
          </div>
        </div>
      </section>
    </main>
    <footer>
      <p>Copyright &copy; 2020 - Restopedia</p>
      <!-- <ul>
        <li><a href="#">Help</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul> -->
    </footer>
  </body>
</html>
