<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Kumpulan Restoran Terbaik Di Seluruh Indonesia Temukan 1000+ rekomendasi restoran terbaik di seluruh penjuru indonesia"
    />
    <title>Restopedia | Restaurant Catalog</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Yellowtail&display=swap"
      rel="stylesheet"
    />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  </head>
  <body>
    <a
      href="#maincontent"
      aria-label="skip-to-content"
      tabindex="0"
      class="skip-link"
      >Menuju ke konten</a
    >
    <header class="header">
      <div class="header__inner">
        <h1 class="header__title">Restopedia</h1>
      </div>
      <a id="menu" aria-label="navigation-menu" class="header__menu"> ☰ </a>
    </header>
    <nav id="drawer" class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a aria-label="nav-home" href="#/home">Home</a>
        </li>
        <li class="nav__item">
          <a aria-label="nav-favourite" href="#/favorite">Favourite</a>
        </li>
        <li class="nav__item">
          <a
            aria-label="nav-about-us"
            rel="noreferrer"
            href="https://github.com/nadahasnim"
            target="_blank"
            >About Us</a
          >
        </li>
      </ul>
    </nav>
    <div id="app"></div>
    <footer>
      <p>Copyright &copy; 2020 - Restopedia</p>
    </footer>
  </body>
</html>
